<div class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">🎫 Ticket Integration Email Generator</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link page" href="javascript:void(0)" data-page="home-page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page" href="javascript:void(0)" data-page="settings-page">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>